.footer {
  background-color: #262626;

  &__logo {
    @extend %center-width;
    padding: 56px 8px 40px;
    border-bottom: 1px solid#7d7d7d;
  }

  &__stores-buttons {
    @extend %center-width;
    display: flex;
    justify-content: center;
    padding: 40px;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid#7d7d7d;
  }

  &__stores-buttons-apple {
    margin-right: 20px;
  }

  &__stores-buttons-google {
    margin-left: 20px;
  }

  &__last-row {
    @extend %center-width;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: $font_size-s;
    line-height: $line_height-xs;
    color: #fff;
    padding: 29px 0;
  }

  &__media {
    margin-top: -5px;
  }

  &__last-row a {
    text-decoration: none;
    color: #fff;
  }

  &__last-row p {
    flex-basis: 33%;
  }
}

.navigation {
  @extend %center-width;
  display: flex;
  flex-wrap: wrap;
  padding-top: 32px;
  padding-bottom: 30px;
  font-size: $font_size-m;
  line-height: $line_height-s;
  color: #fff;
  border-bottom: 1px solid#7d7d7d;

  & a {
    text-decoration: none;
    color: #fff;
  }

  &__column {
    flex-basis: 33%;

    p {
      margin-top: 5px;
      margin-bottom: 25px;
    }
  }
}

.hashtag-logo {
  font-size: $font_size-xl;
  line-height: $line_height-m;
  margin-bottom: 100px;

  &__hash {
    font-weight: 300;
    margin-right: -2px;
    color: #49a144;
  }
}

.select-language {
  position: relative;

  &::before {
    display: block;
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    background-image: url(https://volodsher.github.io/uber-v/images/icons/world.svg);
    background-position: center;
    background-repeat: no-repeat;
    top: 12px;
    left: 16px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 16px;
    left: 205px;
    width: 14px;
    height: 8px;
    background-image: url(https://volodsher.github.io/uber-v/images/icons/if_icon-ios7-arrow-back_211686.svg);
    pointer-events: none;
    text-align: center;
    line-height: 38px;
  }

  &__choice {
    background-color: #3b3b3b;
    color: #fff;
    padding: 12px 0 12px 48px;
    width: 227px;
    height: 40px;
    border: none;
    border-radius: 2px;
    font-size: $font_size-m;
    line-height: $line_height-s;
    text-transform: uppercase;
    appearance: button;
    outline: none;
    cursor: pointer;
    margin-bottom: 33px;
  }

  &__choice:hover {
    background-color: black;
  }
}

.green-square {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 80px;
  width: 80px;
  background-color: #59bd5a;
  border-radius: 2px;
  bottom: 24px;
  right: 16px;
}
