@import "utils";
@import "fonts";
@import "typography";
@import "header";
@import "main-content";
@import "footer";
@import "media";

body {
  background: $main-color;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  display: relative;
}
