%h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

%general--btn {
  border: 1px solid #e0e0e0;
  background-color: white;
  box-sizing: border-box;
  border-radius: 2px;
  height: 40px;
}

%center-width {
  max-width: $general-width;
  margin: 0 auto;
}
